/* -------

font-family: 'Rubik', sans-serif;

### Primary

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)

*/

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
}

#profile{
    position: relative;
    background: hsl(246, 80%, 60%);
    margin: 1rem;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

#profile img{
    border: 5px solid white;
    border-radius: 50%;
    width: 6rem;
    margin-right: 1rem;
}

#profile p{
    color: hsl(236, 100%, 87%);
    margin-top: 1.3rem;
    margin-bottom: .5rem;
}
#profile h2{
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
}

#buttons{
    background: hsl(235, 46%, 20%);
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    height: 6rem;
    margin: -3rem 1rem 0 1rem;
    z-index: 1;
}

#buttons button{
    font-size: 1.3rem;
    color: hsl(236, 100%, 87%);
    border: none;   
    background: transparent;
    transition: 0.3s;    
    margin-top: 2rem;
}
#buttons button:hover{
    color: white;
}

.boxes{
    background: hsl(235, 46%, 20%);
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    z-index: 2;
}
.boxes h2{
    color: white;
    font-weight: 400;
    margin-left: 1rem;
    line-height: 2.5rem;
}
.boxes h2 span{
    font-weight: 300;
    font-size: 2rem;
}

.boxes p{
    color: hsl(236, 100%, 87%);
    display: flex;
    align-items: center;
    position: relative;
    right: .5rem;
    bottom: -1.5rem;
    background-image: url(images/icon-ellipsis.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.boxes-back{ 
    margin: 1rem 1rem -3rem 1rem;
    height: 5rem;
    border-radius: 15px;
    position: relative;
    text-align: right;
}
.boxes-back img{
    display: inline-block;
    margin-right: 1rem;    
}
#work-back{
  background: hsl(15, 100%, 70%);  
}
#play-back{
  background: hsl(195, 74%, 62%);
}
#exercise-back{
  background: hsl(145, 58%, 55%);
}
#social-back{
  background: hsl(264, 64%, 52%);
}
#study-back{
  background: hsl(348, 100%, 68%);
}
#self-back{
  background: hsl(43, 84%, 65%);
}